<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="static/favicon.ico" type="image/x-icon" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/favicon-16x16.png"
    />
    <title>{{ .Title }} | oliverlambson</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {},
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .prose-sm > pre {
          @apply overflow-x-scroll;
        }
        .prose-sm > p > a {
          @apply text-blue-500 underline underline-offset-2 hover:underline-offset-4;
        }
        .footnotes > ol {
          @apply list-decimal;
        }
        .footnote-ref {
            @apply text-stone-300 underline underline-offset-2;
          }
        .footnote-ref::before {
          content: "[";
        }
        .footnote-ref::after {
          content: "]";
        }
      }
    </style>
    <link rel="stylesheet" href="/static/tailwind.css" />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="sm:pl-12 px-2">
      <nav>
        <ol class="flex space-x-4">
          <li>
            <a
              href="/"
              class="underline underline-offset-2 hover:underline-offset-4"
              >home</a
            >
          </li>
          <li>
            <a
              href="/posts"
              class="underline underline-offset-2 hover:underline-offset-4"
              >posts</a
            >
          </li>
          <li>
            <a
              href="/bio"
              class="underline underline-offset-2 hover:underline-offset-4"
              >bio</a
            >
          </li>
          <li>
            <a
              href="https://www.rubato.guitars"
              class="underline underline-offset-2 hover:underline-offset-4"
              target="_blank"
              >rubato↗</a
            >
          </li>
          <li>
            <a
              href="https://www.github.com/oliverlambson"
              class="underline underline-offset-2 hover:underline-offset-4"
              target="_blank"
              >github↗</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/oliverlambson"
              class="underline underline-offset-2 hover:underline-offset-4"
              target="_blank"
              >linkedin↗</a
            >
          </li>
        </ol>
      </nav>
    </header>
    <main class="grow sm:pl-12 px-2 py-12">
      {{ block "body" . }}{{ end }}
    </main>
    <footer class="sm:pl-12 px-2 py-4">
      <p class="text-stone-300 text-xs">&copy; 2024 Oliver Lambson</p>
    </footer>
  </body>
</html>
