{{ define "body" }}
<h1 class="sm:text-6xl text-4xl font-mono font-bold pb-4 text-stone-200">
  Oliver Lambson
</h1>
<div class="max-w-[45ch]">
  <p class="text-lg font-bold pb-12">
    London based South African building Carbon Fibre guitars and writing lots of
    code.
  </p>
  <p class="text-sm">
    New post:
    <a
      href="{{ .NewPost.URL }}"
      class="text-blue-500 underline underline-offset-2 hover:underline-offset-4"
    >
      {{ .NewPost.Title }}
    </a>
  </p>
</div>
{{ end }}
